header{
    display:flex;
    min-height: 50px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    border-bottom: 3px solid pink;
}

footer{
    display:flex;
    min-height: 50px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    border-bottom: 15px solid pink;
    
}
.logo{
    display: flex;
    align-items: center;
}
a{ 
    text-decoration: wavy;
    color: black;
}
nav a{
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    color:green;
}
